#content-wrapper{
	padding: 10px 8px 26px 8px;
}
#content-wrapper main{
	width: 820px;
	float: left;
}
#content-wrapper aside{
	width: 410px;
	float: right;
}
#footer-wrapper{
	clear: both;
}
#adv {
	width: 820px;
	height: 369px;
	background: no-repeat url("images/b-ad1.jpg") 0 0;
	background-size: 820px 369px;
	animation: luobo 10s linear infinite;
	position: relative;
}
#adv ul {
	padding-left: 675px;
	padding-top: 333px;
	height: 30px;
	width: 140px;
}
#adv ul li {
	float: left;
	margin: 0 5px 6px 0;
}
#adv ul li span{
	display: block;
	width: 30px;
	height: 30px;
	font-size: 14px;
	line-height: 30px;
	text-align: center;
	color: white;
	border-radius: 30px;
	background-color: #733f26;
	position: relative;
	z-index: 100;
}
#adv ul li:hover span{
	background-color: #a67359;
}
#adv ul li:hover div{
	width: 820px;
	height: 369px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 820px 369px;
	position: absolute;
	left: 0;
	top: 0;
}
#adv ul li.lunbo1:hover div{
	background-image: url("images/b-ad1.jpg");
}
#adv ul li.lunbo2:hover div{
	background-image: url("images/b-ad2.jpg");
}
#adv ul li.lunbo3:hover div{
	background-image: url("images/b-ad3.jpg");
}
#adv ul li.lunbo4:hover div{
	background-image: url("images/b-ad4.jpg");
}
@keyframes lunbo {
	0% {
		background: url(images/b-ad1.jpg) no-repeat top left;
		background-size: 820px 369px;
	}
	
	25% {
		background: url(images/b-ad2.jpg) no-repeat top left;
		background-size: 820px 369px;
	}
	
	50% {
		background: url(images/b-ad3.jpg) no-repeat top left;
		 background-size: 820px 369px;
	}
	100% {
		background: url(images/b-ad4.jpg) no-repeat top left;
		 background-size: 820px 369px;
	}
}

*{padding: 0px; margin: 0px;font-family:"微软雅黑", Verdana, Arial, Helvetica, sans-serif;}
img{width: 100%;border: 0px;}
.container{width:100%;max-width:1260px;min-width:260px;margin: 0 auto;}
@media screen and (min-width: 420px) {
    .container{width:80%;}
}
#content-wrapper{display: flex;flex-flow: row wrap;}
main{flex:2;margin: 0.5rem; min-width: 260px;}
aside{flex:1;margin: 0.5rem; min-width: 260px;}
.recommend-book .content,#new .content,#sales .content{display:flex;flex-flow: row wrap;}
.recommend-book .content .cover{flex: 1; min-width: 260px;}
.recommend-book .content .description{flex: 2;margin-right: 1rem;}
.book{flex:1;min-width: 260px;margin: 0.5rem;}
.effect-1{display: flex;flex-flow: column;}
#classify-partner{display:flex;}
#classify{flex: 1;}
#partner{flex: 1;}
.effect-1 .image-box,.cart-more{display: flex;justify-content: center;}
#copyright{height: 90px;display: none; flex-flow:column;justify-content: center;align-items: center;font-size: 1.1rem;}
@media screen and (min-width: 640px) {
    #copyright{display:flex;}
}
#copyright div,#copyright address{display: flex; align-items: center;justify-content: center;}
.recommend-book{border-bottom:hsl(0,0%,80%) solid 1px; padding-bottom: 1rem;}
#recommend,#new,#sales,#best-selling,#classify-partner,#about,#advert{border-bottom:hsl(0,0%,80%) dashed 1px;margin-bottom:1rem; padding-bottom: 1rem;}
/*文本*/
h2{font-size: 1.2rem;font-weight: normal;color: hsl(20,50%,30%);}
h3{font-size: 1.1rem;font-weight: normal;display: flex;justify-content: center;margin: 0.5rem 0;color: hsl(20,50%,30%);}
.recommend-book h3{font-weight: bolder;}
p,a,span{font-size:1rem;}
p{text-indent: 2rem;text-align: justify;}
ul{list-style-type: none;}
mark{background-color: hsl(20,30%,50%);color: hsl(0,0%,100%);}
/*背景*/
header{height: 150px;background-image: url("images/header.png");position: relative;}
#nav{background-image: url("images/navbg.jpg");}
#footer-wrapper{background-image: url("images/navbg.jpg");}
/*栏目标题图标*/
@font-face{
	font-family: 'FontAwesome';
	src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
	src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),url('fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
	url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),url('fonts/fontawesome-webfont.ttf?v=4.7.0') format(truetype),url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
.icon-book,.icon-sale,.icon-new,.icon-sell,.icon-classify,.icon-partner,.icon-about,.icon-cart,.icon-contact{
	font-family: FontAwesome;font-size: 1.5rem;display: flex;align-items: center;
	float: left;margin-right: 0.5rem;font-weight: normal;color: hsl(20,50%,30%);
}
.icon-book:before{content: "\f02d";}
.icon-new:before{content: "\f044";}
.icon-sale:before{content: "\f295";}
.icon-sell:before{content: "\f073";}
.icon-classify:before{content: "\f022";}
.icon-partner:before{content: "\f2b5";}
.icon-about:before{content: "\f143";}
.icon-contact:before{content: "\f199";}

#logo{position: absolute;top:30px;left: 75px;}
#logo a{font-size: 1.2rem;color: hsl(20,50%,30%);text-decoration: none;}
#logo a hl{font-weight: normal;}
#advert img{min-width:260px;}
#about img{max-width: 120px;margin-bottom: 1rem;}
#about .content{margin-top: 1rem;}

#nav nav{position:relative;}
#cart{position: absolute;right: 0px;top:10px;background-color: #F3F3F3;line-height: 40px;min-width: 120px;display: none;justify-content: center;}
.icon-cart:before{content: "\F07A";}
@media screen and (min-width:560px){
	#cart{display: flex;}
}
#cart a,.icon-cart{color: hsl(20,50%,30%);text-decoration: none;font-size: 1.2rem;font-weight: normal;}
#cart a:hover{color: hsl(20,30%,50%);}
#search{position: absolute;top: 114px;right: 0px;}
#search input[type="search"]{background: hsl(0,0%,95%);border:solid 1px hsl(0,0%,85%);min-width: 260px;font-size: 1.1rem;}
#search input[type="submit"]{background-color: hsl(0,0%,85%);color:hsl(20,50%,30%);border: solid 1px hsl(0,0%,85%);font-size:1.1rem;padding: 0 10px;}
#recommend img{opacity: 0.6;}
#recommend img:hover{opacity: 1;transition: 2s;}
.cart{text-decoration: none;background: hsl(20, 30%,50%);color: hsl(0,0%,100%);min-width: 120px;opacity: 0.7;
display: flex;justify-content: center;height:30px;align-items: center;padding-bottom: 2px;margin-right: 2px;}
.cart:hover{text-decoration: none;opacity: 1;}
.more{text-decoration: none;background: hsl(20,30%,50%);color: hsl(0,0%,100%);min-width: 120px;opacity: 0.7;
display: flex;justify-content: center;height: 30px;align-items: center;padding-bottom: 2px;}
.more:hover{text-decoration: none;opacity: 1;}
#classify li a,#partner li a{text-decoration: none;color: hsl(0,0%,0%);}
#classify a:hover,#partner a:hover{text-decoration: none;color: hsl(20,30%,50%);}
#classify ul,#partner ul{margin:0.5rem 1rem;}
footer ul{display: flex;flex-flow: row wrap;justify-content: center;}
footer ul li{min-width: 10px;}
footer a{color: hsl(0,0%,100%);text-decoration: none;font-size: 1.2rem;display: flex;height: 60px;justify-content: center;align-items: center;}
footer a:hover{background-color: hsl(20,50%,30%);}
#copyright a{text-decoration: none;color: hsl(0,0%,0%);font-size: 1.1rem;margin: 0 0.5rem;}
#copyright a:hover{text-decoration: none;color: hsl(20,30%,50%);}
#new .effect-1{position: relative;overflow: hidden;border: 1px solid hsl(0,0%,80%);perspective: 800px;}
#new .effect-1:hover .image-box{transform: rotateX(75deg);transition: 1s;transform-origin: center bottom;}
#new .text-desc{position:absolute;left: 0px;top: 0px;margin-bottom: 25px;padding: 10px;opacity: 0;z-index: -1;}
#new .effect-1:hover .text-desc{opacity: 1;transition: 2s;}
#sales .text-desc{position: absolute;left: 0px;top:0px;margin-bottom: 25px;padding: 10px;opacity: 0;z-index: -1;}
#sales .effect-1{position: relative;overflow: hidden;border: 1px solid hsl(0,0%,80%);perspective: 800px;}
#sales .effect-1:hover .image-box{transform: rotateY(180deg);transition: 1s;opacity: 0.2;}
#sales .effect-1:hover .text-desc{opacity: 1;transition: 2s;}
#best-selling ul{margin-top: 1rem;}
#best-selling li:before{content: counter(listxh);background: hsl(20,30%,50%);padding: 2px 5px;color: hsl(0,0%,100%);margin-right: 5px;vertical-align: top;float: left;}
#best-selling li{
	counter-increment: listxh;overflow: hidden;white-space: nowrap;
	text-overflow: ellipsis;margin-top: 8px;
	transition: text-shadow 1s linear;
	border-bottom: hsl(0,0%,80%) dashed 1px;
	max-width: 420px;
}
.p-img img{width: 80px;height: 80px;}
#best-selling .curr .p-img{float: left;}
#best-selling .curr .p-name strong{display: block;color: hsl(0,100%,50%);font-size: 1rem;}
#best-selling .curr .p-name del{display: block;font-size: 1rem;}
#best-selling .curr{display: none;}
#best-selling a{color: hsl(0,0%,0%);text-decoration: none;font-size: 1rem;}
#best-selling li:hover{text-shadow: 1px 4px 4px hsl(0,0%,0%);white-space: normal;}
#best-selling li:hover .selling{display: none;}
#best-selling li:hover .curr{display: block;}

nav ul{display:flex;flex-flow: row wrap;justify-content: center;}
nav ul li{min-width: 160px;}
nav ul a{height: 60px;display: flex;align-items: center;justify-content: center;color: hsl(0,0%,100%);
text-decoration: none;font-size: 1.3rem;font-weight: normal;
	transition: background 0.5s linear;
}
nav ul a:hover{background-color: hsl(20,50%,30%);}
@media screen and (min-width:414px){
	nav ul{justify-content: flex-start;}
}
#nav nav ul li{position: relative;}
#nav nav ul ul li{background-image:url("images/navbg.jpg");}
#nav nav ul ul{visibility: hidden;position: absolute;left: -1px;background-image: url("images/navbg.jpg");}
#nav nav ul li:hover ul{visibility: visible;z-index: 100;}

.crumb-nav{font-size: 1rem;margin: 5px 0px;}
.crumb-nav a{text-decoration: none;font-size: 1em;color: hsl(0,0%,0%);}
.crumb-nav a:hover{color: hsl(20,30%,50%);}
.list h2{margin: 20px 0px;}
.list ul{display: flex;flex-flow: row wrap; }
.list li {flex: 1; min-width: 160px;margin:10px;}
.list li img{ border-radius: 5px;transition:all 1s ease; border: 1px solid  hsl(20,50%,30%);}
.list li:hover img{transform:scale(1.1);}
#bar {display: flex;justify-content: center;margin-top: 10px; }
#bar a {font-size:1rem;text-decoration:none;color:hsl(0,0%,100%);background-color: hsl(20,50%,30%);display:inline-block;width:25px;height:25px; text-align: center;color:hsl(0,0%,100%);transition:all 0.5s ease;padding-top: 3px;margin-right: 5px; }
#bar a:hover {z-index:100;opacity:.5;transform:scale(1.1);}
.specials{border-bottom:hsl(0,0%,80%) dashed 1px;border-top:hsl(0,0%,80%) dashed 1px;margin: 10px 0px;display: flex;flex-flow: row wrap; padding: 10px; transition:background-color 1s ease;}
.specials a{flex:1;display: block;vertical-align:bottom;min-width: 160px;}
.specials div{flex:3;min-width: 260px;}
.specials div h3{text-align: center;}
.specials div strong{color:hsl(0,100%,50%);}
.specials:hover{background-color:hsl(20,30%,50%);}
.specials:hover div,.specials:hover div h3{color: hsl(0,0%,100%);}
.contacts{margin-top: 1rem;}
.contacts p{padding:10px;}
.contact-form {border:hsl(20,50%,30%) 1px dashed;font-size:1.1rem; margin: 0 10px;}
.form-subtitle {background:hsl(20,50%,30%);color:hsl(0,0%,100%);padding:2px 5px;}
.contact-input {width:300px;border:hsl(0,0%,80%) 1px solid;}
.form-row {padding:2px 10px;font-size: 1rem;}
.form-row-button {margin:5px;}
.send {color:hsl(0,0%,100%);height:30px;width:60px;text-align:center;background-color:hsl(20,50%,30%);border: 0px;font-size:1rem; }
video{max-width: 100%; height: auto; }
#video p{ margin: 10px 10px}
.video{text-align: center;}

#date{position:absolute;top:20px;right:260px;color:hsl(0,0%,100%);display: none;}
#time{position:absolute;top:20px;right:190px;color:hsl(0,0%,100%);display: none;}
@media screen and (min-width:1500px) {
#date,#time{display:block;}
}

#adv {position:relative;margin-bottom: 0.5rem;}
#adv dl, #adv dd {list-style:none;}
#adv dt {position:absolute;bottom:10px;right:5px;display: flex;}
#adv dd {overflow:hidden;}
#adv dl dt a {display: flex;justify-content: center;align-items: center;
    width:24px; height:24px;padding:0 1px 1px 0;border-radius:15px;margin-right: 5px;
    background-color:hsl(20,50%,30%); color:hsl(0,0%,100%);
    text-decoration:none;font-size:0.8rem;
}

#message{visibility:hidden;}
#submitmessage{padding: 5px 10px;}

#ulcart{width: 100%; margin: 10px 0px;}
#ulcart .lit{background-color:hsl(20,30%,50%); color:hsl(0,0%,100%); padding: 5px 0px;}
#ulcart li{display:flex;flex-flow: row wrap;}
#ulcart span{text-align: center;}
#ulcart span:nth-child(1){flex:3;}
#ulcart span:nth-child(2){flex:1;}
#ulcart span:nth-child(3){flex:1;}
#ulcart span:nth-child(4){flex:1;}
#ulcart .lic{border-bottom: 1px solid hsl(20,30%,50%);}

#adv-left,#adv-right{position:fixed;width:80px;height:80px;visibility: hidden;}
#adv-left{left: 0vw;top: 0vh;}
#adv-right{top: 0vh;right:0vw;}
#close-left,#close-right{position:fixed;width:13px;height:13px;visibility: hidden;margin-top: -4px;}
#close-left{left: 67px;top: 0vh;}
#close-right{top: 0vh;right:0vw;}
@media screen and (min-width: 800px) {
    #adv-left,#adv-right,#close-left,#close-right{visibility: visible;}
}